{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  protege {:local/root "lib_ext/protege-3.5.0.jar"}
  protege/standard-extensions {:local/root "lib_ext/standard-extensions-3.5.0.jar"}
  protege/looks {:local/root "lib_ext/looks-3.5.0.jar"}
  protege/unicode_panel {:local/root "lib_ext/unicode_panel-3.5.0.jar"}
  protege/JGo {:local/root "lib_ext/JGo-3.5.0.jar"}
  protege/JGoLayout {:local/root "lib_ext/JGoLayout-3.5.0.jar"}
  protege/ClojureTab {:local/root "lib/ClojureTab-1.5.jar"}
  OpenMapTab {:local/root "lib/OpenMapTab-5.2.1.jar"}
  org.openmap-java/openmap {:local/root "lib_ext/openmap.jar"}
  rete {:mvn/version "5.3.0-SNAPSHOT"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  org.clojure/core.async {:mvn/version "0.4.490"}
  ring {:mvn/version "1.7.1"}
  compojure {:mvn/version "1.6.1"}
  cljs-ajax {:mvn/version "0.8.0"}
  com.cognitect/transit-clj {:mvn/version "0.8.313"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  clj-json {:mvn/version "0.5.3"}
  javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}
  clj-telnet/clj-telnet {:mvn/version "0.7.0"}}}


